body {
  background-color: #fff;
}

.app {
  font-family: Roboto, sans-serif;
  max-width: 18cm;
  margin: 0 auto;
  color: #002761;
}

/* Profile */

.profile {
  margin-top: 48px;
  text-align: center;
}

.profile-name {
  font-size: 32px;
}

.profile-title {
  font-weight: 300;
  font-size: 24px;
}

.profile-link {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

/* Section */

.section {
  margin-top: 48px;
  page-break-inside: avoid;
}

.section-header {
  font-weight: 300;
  font-size: 32px;
  padding-bottom: 8px;
  border-bottom: 1px solid #002761;
  margin-bottom: 8px;
}

.section-content {
  text-align: justify;
  line-height: 24px;
  font-size: 16px;
}

/* Content elements */

.content-p {
  margin: 10px 0;
}

.content-link {
  border-bottom: 1px solid #002761;
  text-decoration: none;
  color: #002761;
}

.content-bullet {
  margin: 0;
  padding-left: 16px;
}

.content-bullet::before {
  display: inline-block;
  content: "\2022";
  padding-right: 8px;
}

/* Skills */

.skill {
  display: inline-block;
  border: 1px solid #002761;
  border-radius: 3px;
  margin: 4px;
}

.skill-title {
  color: #fff;
  background-color: #002761;
  padding: 6px;
  font-size: 12px;
}

.skill-stars {
  display: inline-block;
  padding: 0 4px;
}

.star {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 1.2em;
  border-right: 0.3em solid transparent;
  border-bottom: 0.7em solid #002761;
  border-left: 0.3em solid transparent;
  font-size: 7px;
}

.star::before,
.star::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 0.6em;
  left: -1em;
  border-right: 1em solid transparent;
  border-bottom: 0.7em solid #002761;
  border-left: 1em solid transparent;
  transform: rotate(-35deg);
}

.star::after {
  transform: rotate(35deg);
}

.star-inactive {
  opacity: 0.3;
}

/* Work Experience */

.work-entry {
  padding-bottom: 48px;
  page-break-inside: avoid;
}

.work-company {
  display: inline-block;
  font-weight: 300;
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.work-company a,
.work-company a:visited {
  color: inherit;
  text-decoration: none;
}

.work-company a:hover {
  text-decoration: underline;
}

.work-role {
  padding-bottom: 4px;
  font-weight: 300;
}

.work-period {
  padding-bottom: 16px;
  font-weight: 300;
}

.work-subrole {
  margin-top: 24px;
}

.work-techs {
  padding-top: 8px;
}

.tech-tag {
  display: inline-block;
  padding: 4px;
  margin: 4px;
  border-radius: 3px;
  border: 1px solid #002761;
}

/* Education */

.edu-entry {
  padding-bottom: 32px;
}

.edu-title {
  display: inline-block;
  font-weight: 300;
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.edu-degree {
  padding-bottom: 4px;
  font-weight: 300;
}

.edu-period {
  padding-bottom: 16px;
  font-weight: 300;
}

/* Contact */

.contact-item {
  margin-bottom: 10px;
}

.contact-label {
  width: 176px;
  display: inline-block;
  font-weight: 300;
}

.contact-value {
  display: inline-block;
}
